body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px solid #383535;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}
